[submodule "graph-commons"]
	path = graph-commons
	url = https://github.com/tribbloid/graph-commons
[submodule "shapesafe-demo"]
	path = shapesafe-demo
	url = https://github.com/tribbloid/shapesafe-demo
[submodule "splain"]
	path = splain
	url = https://github.com/tek/splain
